<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Admin | Login</title>
  </head>
  <body>
    <main class="flex h-dvh">
      <div class="w-1/2 bg-[url(/img/background.jpg)] bg-cover">
        <div class="w-full h-full bg-[#6366F1] opacity-65"></div>
      </div>

      <form class="w-1/2 h-full flex flex-col justify-center items-center gap-5 font-opensans" action="http://localhost:8080/auth/login" method="POST">
        <h1 class="w-8/10 mb-2 text-4xl font-poppins font-bold">Login</h1>
        <div class="w-8/10 flex flex-col gap-1">
          <label class="text-lg font-semibold" for="email">Email Address</label>
          <input class="w-full p-3 outline-none border-2 border-[rgba(0,0,0,0.1)] rounded-sm placeholder:text-[#BABABA] focus:border-[#4f46e5]" type="email" name="email" id="email" required />
        </div>
        <div class="w-8/10 flex flex-col gap-1">
          <label class="text-lg font-semibold" for="password">Password</label>
          <input class="w-full p-3 outline-none border-2 border-[rgba(0,0,0,0.1)] rounded-sm placeholder:text-[#BABABA] focus:border-[#4f46e5]" type="password" name="password" id="password" required />
        </div>
        <div class="w-8/10 text-right">
          <a class="text-[#6366F1] hover:underline" href="/admin/reset-password">Forgot Password?</a>
        </div>
        <button class="w-8/10 p-3 bg-[#4F46E5] outline-2 outline-[#4F46E5] rounded-md font-poppins font-bold text-xl text-white tracking-wider cursor-pointer transition hover:bg-white hover:text-[#4F46E5]" type="submit">LOGIN</button>
      </form>
    </main>
  </body>
</html>
