<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Reset Password Page</title>
  </head>
  <body>
    <main class="flex h-dvh">
      <!-- Bagian Gambar -->
      <div class="w-1/2 bg-[url(/img/background.jpg)] bg-cover">
        <div class="w-full h-full bg-[#6366F1] opacity-60"></div>
      </div>

      <!--Bagian Form-->
      <form class="w-1/2 h-full flex flex-col justify-center items-center gap-7 font-opensans" action="">
        <div class="w-8/10 flex flex-col gap-1">
          <h1 class="text-3xl font-poppins font-bold">Reset Password</h1>
          <p class="font-semibold text-[#BABABA]">You will receive a new password via email</p>
        </div>
        <div class="w-8/10 flex flex-col gap-1">
          <label class="text-md font-semibold">Email Address</label>
          <input class="w-full p-3 outline-none border-2 border-[#BABABA] rounded-sm placeholder:text-[#BABABA] focus:border-[#6366f1]" type="email" name="email" id="email" />
        </div>
        <button class="w-8/10 p-3 bg-[#4F46E5] rounded-md font-poppins font-bold text-xl text-white tracking-wider cursor-pointer" type="submit">RESET PASSWORD</button>
      </form>
    </main>
  </body>
</html>
